body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img/pattern.png);
    background-color: rgb(34, 140, 211);
    background-size: initial;
    height: 160px;
    width: 1500;
}


#logo{
    height: 60px;
    position: absolute;
    top:  18%;
    
}

#logo.container{
    height: 160px;
    position: relative;
}









