body{
    
    background-image: url(../img/pattern.png);
    background-size: 350px;
    background-position: top;
    
    
    font-family: Arial, Helvetica, sans-serif;

}

.logo{
    width: 15%;
    margin-top: 80px;

}


#intestazione{

}