body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img/pattern.png);
    background-color: rgb(34, 140, 211);
    background-size: initial;
    height: 160px;
    width: 1500;
}


#logo{
    height: 60px;
    position: absolute;
    top:  18%;
    
}

#logo.container{
    height: 160px;
    position: relative;
}

h1{
    text-align: left;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

#subtitle{
    color: rgb(197, 190, 190);
}

h4{
    margin-bottom: 0;
    margin-top: 0;
}

.data{
    margin-top: 0;
}

#Booleanear{
    color: rgb(35, 158, 235);
}

#photo_description{
    font-size: 10px;
    font-weight: bold;
}

#first{
    margin-bottom: 0;
    margin-top: 0;
}

#second{
    margin-top: 0;
}

table{
    border-collapse: collapse;
}

thead{
    color: white;
    background-color: rgb(49, 137, 236);
    text-align: left;
}

.blue-row{
    background-color: rgb(97, 182, 197);
}

.bar{
    width: 150px;
}


h5{
    color: rgb(114, 107, 107);
}


.image{
    width: 200px;
    height: 180px;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
}














